.CreateIdea{
  display: flex;
  justify-content: center;
}
.CreateIdea__Form{
  width:700px;
  height: 200px;
  left: 851px;
  top: 153px;
  background-color: hsla(0, 0%, 100%, 0.7);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(233, 68, 75, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CreateIdea__Input__Contaiter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}
.CreateIdea__Input__Contaiter__Inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.CreateIdea__Input__Contaiter__Inputs__LeftSide{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  flex-direction: column;
  gap: 3%;
}
.CreateIdea__Input__Contaiter__Inputs__RightSide{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90px;
  gap: 3%;
}
input{
  border: 1px solid rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  width: 314px;
  height: 41px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.CreateIdea__CreateEvent__Button{
  width: 120px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(233, 68, 75, 0.25);
  background: #7876e6;
  color: #FFFFFF;
  text-decoration:  none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CreateIdea__CreateEvent__Button:hover {
  background: #ffd280;
  color: #000;
}