.Header__General {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.Header {
  max-width: 1173px;
  width: 100%;
  height: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Header_Line {
  background: #0f528b;
  opacity: 0.3;
  width: 100%;
  height: 1px;
}
.Header__Content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header__Content__Logo {
  height: 50px;
  width: 100%;
  object-fit: cover;
}
.Header__Content__Right {
  display: flex;
  gap: 20px;
}
.Header__Content__Right__Button {
  width: 140px;
  height: 46px;
  font-size: 15px;
  margin-top: 0.4vh;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header__Content__Right__Button:hover {
  background: #ffd280;
  color: #000;
}
.Header__Content__Right__Profile {
  display: flex;
  height: 46px;
  text-decoration: none;
  align-items: center;
  gap: 10px;
}
.Header__Content__Right__Profile__Icon {
  background: #ffffff;
  box-shadow: 0px 4.15001px 4.15001px rgba(0, 0, 0, 0.15),
    inset 0px -1.44768px 2.89536px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Header__Content__Right__Profile__Name {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #7876e6;
  cursor: pointer;
}
