.foedus-footer {
  max-width: 1173px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-item {
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.link-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.footer-bottom-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.rights {
  font-size: 14px;
  font-weight: 400;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  color: #0A142F;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
}
.foedus-footer-startline {
  margin: 2rem (25% / 2);
  margin-right: 0%;
  margin-left: 0%;
  background: #000000;
  opacity: 0.7;
}

.foedus-footer-endline {
  margin: 2rem (25% / 2);
  margin-right: 7%;
  margin-left: 7%;
  background: #000000;
  opacity: 0.7;
  margin-bottom: 2rem;
}

.link{
  height: 30px;
  font-family: Roboto;
  margin: 0;
}

.ref {
  color: #0A142F;
  font-size: 15px;
  font-weight: 400;
  mix-blend-mode: normal;
  opacity: 0.7;
  text-decoration: none;
}
.ref:hover {
  color: #7876e6;
}

.head {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  line-height: 0px;
  margin-top: 3vh;
  margin-bottom: 2vh;
  color: #0A142F
  
}