.Home {
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
}
.Home__Block {
  width: 590px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 20px;
  z-index: 1;
}
.Home__Block__Title {
  font-family: "Podkova";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  color: #000000;
}
.Home__Block__Description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.Home__Block__Button {
}
.Home__Block__Button:hover {
  background: #ffd280;
  color: #000;
}
.Home__Image {
  width: 720px;
  height: 100%;
  position: absolute;
  right: 0;
  object-fit: cover;
  z-index: 0;
}
