.App {
  text-align: center;
  background :
  linear-gradient(217deg, white, rgba(255,0,0,0) 5%),
  linear-gradient(127deg, #e9bffa, rgba(0,255,0,0) 90%),
  linear-gradient(400deg, #f7d9f7, rgba(0,0,255,0) 90%);
  min-height: 100vh;
  font-size: 50px;
  overflow: hidden;
}


